@model Assignment3_YujiaWang.Models.Classes
@{
    ViewBag.Title = "Show";
}

<h2>Details of Class</h2>

<table border="1">
    <tr>
        <th>Class Code</th>
        <td>@Model.ClassCode</td>
    </tr>
    <tr>
        <th>Class Name</th>
        <td>@Model.ClassName</td>
    </tr>
    <tr>
        <th>Start Date</th>
        <td>@Model.StartDate</td>
    </tr>
    <tr>
        <th>Finish Date</th>
        <td>@Model.FinishDate</td>
    </tr>
    <tr>
        <th>Teacher's link</th>
        <td><a href="/Teacher/Show/@Model.TeacherId">Click here</a></td>
    </tr>


</table>

