@model Assignment3_YujiaWang.Models.Teacher
@{
    ViewBag.Title = "Update";
}


<div>
    <nav>
        <a href="/Teacher/Show/@Model.TeacherId">Back</a>
    </nav>
</div>
<h2>New Teacher</h2>
<form methor="POST" action="/Teacher/Update/@Model.TeacherId">
    <div id="errormessage" style="color:red;"></div>
    <div>
        <label for="TeacherFname">Teacher's First Name: </label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname"/>
    </div>
    <div>
        <label for="TeacherLname">Teacher's Last Name: </label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname"/>
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number: </label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber"/>
    </div>
    <div>
        <label for="Salary">Salary: </label>
        <input type="text" id="Salary" name="Salary" value="@Model.Salary"/>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>